.section_contact{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupa al menos toda la altura de la ventana */
    margin: 0;
    padding-bottom: 10px;
}