<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand d-flex justify-content-center align-items-center" href="#" style="margin-left: 10px;">
    <div class="Texto d-flex align-items-center">      
      <h5 class="m-0">
        <!-- <img src="../../assets/PULSEp.png"> -->
        <!-- <img src="../../assets/madirdp.png" alt="" style="margin: 0px; padding: 0px;"> -->

       <span class="neon-text">PULSE</span>
        <span class="logo-text">MADRID</span> 
      </h5>
    </div>  
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <img src="../../assets/DISCOTECAS.png" alt=""> -->
          DISCOTECAS  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Discotecas con entrada gratis</a>
          <a class="dropdown-item" href="#">Discotecas o clubs con entrada</a>
          <!-- <a class="dropdown-item" href="#">Afters</a> -->
        </div>
      </li>   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RESERVAS  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Reservas personalizadas</a>
          <a class="dropdown-item" href="#">Cosultas </a>
        </div>
      </li>    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle girls" style="  color: #ff00a6" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          GIRLS PARTY  
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" routerLink="/girlsparty">Botellas de invitación</a>
          <a class="dropdown-item" href="#">Entradas para chicas gratis</a>
          <!-- <a class="dropdown-item" href="#">Asesoría de imagenes</a> -->
        </div>
      </li>  
    </ul>
  </div>
</nav>  