<section style="background-color: #000;">

    <div class="content-container" style="height: auto; padding-top: 30PX; padding-bottom: 70px; ">
            <div class="container">
                <h1 class="title-1 color-change">GIRLSPARTY</h1>
            </div>
            <div class="container" style="margin-top: 20px; ;">
                    <h5 class="title-2">ENTRADAS GRATUITAS CON CONSUMICIÓN </h5>
                    <p class="texto">
                        Selecciona la discoteca y adquiere tu entrada gratuita, recuerda que tienes que elegir el día que te recomendamos para que tu entrada sea completamente gratuita.
                        Y puede variar dependiendo del día o las festividades de Madrid.
                    </p>                       
            </div>
            <div class="container" style="margin-top: 20px; ;">
                <h5 class="title-2">BOTELLAS O MESAS DE INVITACIÓN </h5>
                <p class="texto">
                        Quieres acceder a cocteles o botellas gratis, la única condición es que seáis un grupo de amigas de 4 chicas e ir arreglas. Estas condiciones pueden ir variando según el club o discotecas al que quieras acudir.
                </p>                       
            </div>
            <div class="container" style="margin-top: 20px; ;">
                <h5 class="title-2">INFLUENCERS O COLABORACIONES </h5>
                <p class="texto">
                        Tienes mas de 20.000 seguidores y quieres colaborar con nuestras discotecas o marcas. Si te gustaría saber mas no dudes en <a href="#">pinchar aquí</a> y rellena el formulario de contacto.                    
                </p>                       
            </div> 
            <div class="container" style="margin-top: 20px; ;">
                <h5 class="title-2">TRABAJA CON NOSOTROS</h5>
                <p class="texto">
                        Quieres trabajar de imgagen de algunos de nuestros culbs con los que colabaromos si te interesa no dudes en rellenar el fomulario y ponerte en contacto con nosotros.
                </p>                       
            </div> 
                   
            <div class="container" id="co" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding-bottom: 30px;" >               
                <div class="card">
                    <div class="face front">
                        <img src="../../../assets/galery-2/33.png" alt="">
                        <h3></h3>
                    </div>
                    <div class="face back">
                        <h3>OH MY CLUB</h3>
                        
                        <p class="card-text">
                         Entrada gratuita sin consumición válida hasta la 01:00h</p>
                        <h5 class="subtitle">COLABORACIONES: DISPONIBLES</h5>
                        <h5 class="subtitle">DÍAS: LUNES A JUEVES Y DOMINGOS</h5>
                        <h5 class="subtitle">MESAS DE INVITACIÓN: TODOS LOS DÍAS</h5>

                        <div class="link">
                            <a href="https://bclever.ai/marcas/sala-mon?r=FA155917">COLABORACIONES</a>
                            <br>
                            <a href="https://bclever.ai/marcas/sala-mon?r=FA155917">MESA DE INVITACIÓN</a>
                            <br>
                            <a href="https://bclever.ai/marcas/sala-mon?r=FA155917">ENTRADAS GRATUITAS</a>
                        </div> 
                                          
                    </div>
                </div>    
                    <div class="card">
                            <div class="face front">
                                <img src="../../../assets/galery-2/22.png" alt="">
                                <h3></h3>
                            </div>
                            <div class="face back">
                                <h3>MON MADRID</h3>
                                
                                <p class="card-text">
                                    Entrada gratuita sin consumición antes de la 1:00.<br>Será 
                                    obligatorio subir el flyer 6h antes de la apertura de puertas</p>
                                <h5 class="subtitle">DIA: JUEVES</h5>
                                <h5 class="subtitle">COLABORACIONES: DISPONIBLES</h5>
        
                                <div class="link">
                                    <a href="https://bclever.ai/marcas/sala-mon?r=FA155917">ENTRADAS GRATIS</a>
                                    <br>
                                    <a href="https://bclever.ai/marcas/sala-mon?r=FA155917">COLABORACIONES</a>
        
                                </div>                   
                            </div>
                    </div>                          
                    <div class="card">
                        <div class="face front">
                            <img src="../../../assets/galery-2/44.png" alt="">
                            <h3></h3>
                        </div>
                        <div class="face back">
                            <h3>NAZCA</h3>
                            
                            <p class="card-text">
                                Entrada con consumición a partir de las 00:00 hasta las 02:00</p>
                            <h5 class="subtitle">DÍAS: MIERCOLES, JUEVES Y DOMINGO</h5>
                            <h5 class="subtitle">MESAS DE INVITACIÓN: MIERCOLES JUEVES Y DOMINGO</h5>

                            <div class="link">
                                <a href="https://www.fourvenues.com/es/nazca-club">ENTRADAS GRATIS</a>
                                <br>
                                <a href="https://www.fourvenues.com/es/nazca-club">MESAS DE INVITACIÓN</a>
                            </div>                   
                        </div>
                    </div>    
                    <div class="card">
                        <div class="face front">
                            <img src="../../../assets/galery-2/66.png" alt="">
                            <h3></h3>
                        </div>
                        <div class="face back">
                            <h3>PANDA CLUB</h3>
                            
                            <p class="card-text">                                
                            Entrada gratuita sin consumición a partir de las 00:00  hasta las 01:00</p>
                            <h5 class="subtitle">DIA: JUEVES</h5>
                            <h5 class="subtitle">COLABORACIONES: DISPONIBLES</h5>
                            <h5 class="subtitle">MESAS DE INVITACIÓN: MIERCOLES,</h5>
                            <div class="link">
                                <a href="https://bclever.ai/marcas/sala-mon?r=FA155917">ENTRADAS GRATIS</a>   
                            </div>                   
                        </div>
                    </div>                                             
            </div>
        </div>
</section>
    <section style="background-color: #191717;">
        <app-footer>
    
        </app-footer>
    </section>  
    

    <!-- <div class="container">
        <div class="container-img">
            <div class="box">
                <img src="../../../assets/galery-imgs/edit11.png" alt="Imagen 1">
            </div>
            <div class="box">
                <img src="../../../assets/galery-imgs/edit22.png" alt="Imagen 1">
            </div>
            <div class="box">
                <img src="../../../assets/galery-imgs/edit33.png" alt="Imagen 1">
            </div>
        </div>
    </div> -->