<header>
  <app-navbar>

  </app-navbar> 
</header>

<main>
  <router-outlet></router-outlet>
  <section class="hero 100vh" style="background-color: #000000; position: relative; overflow: hidden;">
    <div class="center-content px-3" style="position: relative; z-index: 2; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  
        <h1 class="title d-none d-md-block" id="fiestas">¿FIESTAS EN MADRID?</h1>
        <h2 class="title-2 d-none d-md-block">Las mejores fiestas y clubs de Madrid</h2>  

        <h1 class="title d-block d-sm-none d-md-none">¿FIESTAS</h1>
        <h1 class="title d-block d-sm-none">EN</h1>
        <h1 class="title d-block d-sm-none">MADRID?</h1>
        <h2 class="title d-block d-sm-none" style="font-size: 1.3rem;">Las mejores fiestas y clubs de Madrid</h2>



    </div>
    <video muted autoplay style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; object-fit: cover;">
      <source src="../assets/Videos/Jueves.mp4" >
    </video>
    <div class="video-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(0, 0, 0, 0.89);"></div>
  </section>
  
  
  
  
  
  
  <section class="second-section" style="background-color:#FFF;">
    <div class="container" >
      <h1 class="" style="padding-top: 40px;">NUESTRAS RECOMENDACIONES</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/ohmy.jpg" alt="Card image cap">
            <h5 class="card-title text-center">OH MY CLUB</h5>
            <div class="card-body">
              <div class="d-flex align-items-center">ñº
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">De lunes - domingo</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">House/Reggaeton/Comercial
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Arreglado                 
              </p>              
              <div class="d-block text-center">
                <button class="btn btn-secondary" id="btn-card">Entradas y reservas</button>
              </div>
            </div>
          </div>        
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/mon.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">MON</h5>
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">De jueves - sábado</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">Reggaeton/Comercial
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Casual/Arreglado                 
              </p>              
              <div class="d-block text-center">
                <button class="btn btn-secondary" id="btn-card">Entradas y reservas</button>
              </div>
            </div>
          </div>        
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/posh.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">POSH</h5>
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">De jueves - sábadoy</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">Reggaeton/Comercial
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Casual/Arreglado                 
              </p>              
              <div class="d-block text-center">
                <button class="btn btn-secondary" id="btn-card">Entradas y reservas</button>
              </div>
            </div>
          </div>        
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/Nazca.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center">NAZCA</h5>
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">De jueves - domingo</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">Reggaeton/House
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Casual                 
              </p>              
              <div class="d-block text-center">
                <button class="btn btn-secondary" id="btn-card">Entradas y reservas</button>
              </div>
            </div>
          </div>        
        </div>
      
      
    
     
        
          
               
      </div>
    </div>
    
   
    
  </section>
</main>


<!-- <footer> -->
  <!-- Aquí puedes colocar el pie de página -->
  <!-- <p>© 2023 Mi Compañía. Todos los derechos reservados.</p> -->
  <!-- Aquí cargamos un componente de pie de página adicional -->
<!-- </footer> -->