html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}

footer {
  background-color: #333; /* Color de fondo del footer */
  color: white; /* Color del texto del footer */
  padding: 10px; /* Espacio interior del footer */
}
footer p{
  color: #7e8487;
}