<header>
  <app-navbar>

  </app-navbar> 
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!-- 
<footer> 
  <div class="container pt-3">
    <div class="row">
      <div class="col-12 col-md-6">
        <p style="color: white; margin: 0; padding: 0;">PULSEMADRID</p>
        <p style="margin: 0;">Contacta con nostros</p>
        <p style="margin: 0;">Ofrece tu servicios en pulsemadrid</p>
      </div>
      <div class="col-12 col-md-6">
        <p style="color: white; margin: 0; padding: 0;">SERVICIOS</p>
        <p style="margin: 0;">Reservas o servicios personlizadas</p>
        <p style="margin: 0;">Próximos conciertos o eventos</p>
      </div>    
      <div class="col-12 col-md-12">
        <p style="padding: 0; margin: 0; color: white;">REDES SOCIALES</p>
        <div class="d-flex" style="margin-top: 3px;">
          <img src="../assets/social-media/instagram.png" alt="" height="25px" width="auto" style="margin-right: 10px;">
          <img src="../assets/social-media/whatsapp.png" alt="" height="25px" width="auto" style="margin-right: 10px;">
          <img src="../assets/social-media/correo.png" alt="" height="25px" width="auto" style="margin-right: 10px;">
          <img src="../assets/social-media/tiktok.png" alt="" height="25px" width="auto" style="margin-right: 10px;">
        </div>       
      </div>
    </div>
    <p class="text-center" style="margin: 0; margin-top: 30PX; padding-bottom: 10px; color: white; ">
      © 2023 PULSEMADRID
  

  </div>

</footer> -->