<section class="hero 100vh" style="background-color: #000000; position: relative; overflow: hidden;">
    <div class="center-content px-3" style="position: relative; z-index: 2; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  
        <h1 class="title d-none d-md-block" id="fiestas">¿FIESTAS EN MADRID?</h1>
        <h1 class="title-2 d-none d-md-block">Las mejores clubs y conciertos de Madrid</h1>  

        <h1 class="title d-block d-sm-none d-md-none">¿FIESTAS</h1>
        <h1 class="title d-block d-sm-none">EN</h1>
        <h1 class="title d-block d-sm-none">MADRID?</h1>
        <h2 class="title d-block d-sm-none" style="font-size: 1.1rem;">Las mejores clubs y conciertos de Madrid</h2>



    </div>
    <video muted autoplay style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; object-fit: cover;">
      <source src="../assets/Videos/video.mp4" >
    </video>
    <div class="video-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(0, 0, 0, 0.89);"></div>
  </section>
  
  
  
  <section class="bg-section" style="background-color:#fff;">
    <div class="container">
      <h1 style="padding-top: 35px; font-family:'Roboto Condensed'; margin-bottom: 15px;">
        ¿QUIERES SALIR GRATIS?
      </h1>  
      <p>
        Recuerda que si deseas entrar gratis, debes acceder a través de nuestros enlaces.Te recomendamos adquirir las entradas con suficiente antelación,ya que se agotan rápidamente dependiendo del club al que desees asistir. 
        Además, es esencial respetar el código de vestimenta del club.       
        <br><br>Si sois de un grupo de amigas, teneís la opción de acceder a mesas con botellas de invitación o entradas con copas.
        Si deseas obtener más información sobre estas ventajas, la puedes encontrar en la sección de <a class="link-party" href="">'GIRLS PARTY'</a>.</p>                
        <h4 class="" style="padding-top: 10px; font-family:'Roboto Condensed';">¿ERES INFLUENCER?</h4>
      <p>
        Si eres un influencer o alguien conocido y deseas disfrutar de ventajas para salir de fiesta gratis, contáctanos a través de nuestro número de teléfono o formulario de contacto para conocer más detalles.

      </p>

    </div>    
  </section>

  
  <section class="second-section" style="background-color:#fff;">
    <div class="container pb-2" >
      <h4 class="" style="padding-top: 10px; font-family:'Roboto Condensed';">NUESTRAS RECOMENDACIONES</h4>      
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/shoko.png" alt="Card image cap">
            <!-- <h5 class="card-title text-center">OH MY CLUB</h5> -->
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">Miércoles, jueves y domingos</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">Reggaeton/Trap/Afro
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Casual                 
              </p>              
              <div class="d-block text-center">
                <button class="btn btn btn-dark" id="btn-card">
                  <a  href="https://shokomadrid.com/eventos/">ENTRADAS GRATIS</a>
                </button>
              </div>
            </div>
          </div>        
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/ohmy.jpg" alt="Card image cap">
            <!-- <h5 class="card-title text-center">OH MY CLUB</h5> -->
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">Lunes a viernes y domingo</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">House/Reggaeton
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Arreglado                 
              </p>              
              <div class="d-block text-center">
                <button class="btn btn btn-dark" id="btn-card">
                  <a  href="https://smdgroup.club/es/farid">ENTRADAS GRATIS</a>
                </button>
              </div>
            </div>
          </div>        
        </div>      
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/mon.jpg" alt="Card image cap">
            <!-- <h5 class="card-title text-center">OH MY CLUB</h5> -->
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">Jueves</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">Reggaeton/Comercial
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Casual             
              </p>              
              <div class="d-block text-center">
                <button class="btn btn btn-dark" id="btn-card">
                  <a  href="https://bclever.ai/marcas/sala-mon?r=FA155917">ENTRADAS GRATIS</a>
                </button>
              </div>
            </div>
          </div>        
        </div>        
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/GUETTO.png" alt="Card image cap">
            <!-- <h5 class="card-title text-center">OH MY CLUB</h5> -->
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">Miércoles, jueves y domingos</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">Hip-hop/funky y afro
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Casual                 
              </p>              
              <div class="d-block text-center">
                <button class="btn btn btn-dark" id="btn-card">
                  <a  href="https://www.fourvenues.com/es/sami-the-prince/events/ghetto--17-09-2023-6EBN?fbclid=PAAabtZhscVE7y7VHORyhhl56uzXC2T3vdYdmOP0ug6PP6eU5RuIbdvcHqUAA">ENTRADAS GRATIS</a>
                </button>
              </div>
            </div>
          </div>        
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-xl-3 mb-5">
          <div class="card shadow-lg" >
            <img class="card-img-top" src="../assets/Clubs/JOWKE.png" alt="Card image cap">
            <!-- <h5 class="card-title text-center">OH MY CLUB</h5> -->
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img src="../assets/card-icons/calendario.png" alt="" class="card-icon">
                <span class="card-text">Jueves</span>                
              </div>
              <p class="card-text">
                <img src="../assets/card-icons/musica.png" alt="" class="card-icon">Reggaeton/Comercial
                <br>
                <img src="../assets/card-icons/camiseta.png" alt="" class="card-icon">Casual/Arreglado             
              </p>              
              <div class="d-block text-center">
                <button class="btn btn btn-dark" id="btn-card">
                  <a  href="https://www.jowke.es/eventos">ENTRADAS GRATIS</a>
                </button>
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </section>
  <section style="background-color: black;" class="third-section">
    <div class="container" style="padding-top: 20px; margin-bottom: 0;">
      <H1 class="title-2">ÚNETE A NUESTRO EQUIPO</H1>
      <p>
      ¿Estás interesado en disfrutar de eventos nocturnos de manera gratuita mientras generas ingresos adicionales? Si es así, te invitamos a conocer las condiciones y ventajas de colaborar con nosotros, así como los prestigiosos clubes con los que colaboramos. Te invitamos a completar el siguiente formulario con tus datos para que puedas unirte a nuestro equipo.
      </p>
    </div>
    <div class="container">
      <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" style="padding-bottom: 50px;">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/carousel-imgs/222.png" class="d-block mx-auto img-small" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel-imgs/222.png" class="d-block mx-auto img-small" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/carousel-imgs/222.png" class="d-block mx-auto img-small" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>
  
  <section class="" style="background-color: gray;">  
    <app-footer>

    </app-footer>
  </section>